.navbar{
    background-color: #0A2472;
}

.navbar-brand{
    color: white;
    font-family: 'Alegreya', serif;
}

.bg{
    background-color: #0E6BA8;
}

.input{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
}


.today{
    height: 400px;
    width: 400px;
    background-color: #A6E1FA;
}

#todaysBoxTitle {
    background-color: #0A2472;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    font-size: 32px;
}

#todaysBoxBody {
    background-color: #A6E1FA;
    border-radius: 5px;
}

.bigText {
    font-size: 60px;
    font-weight: bold;
    font-family: Source Sans Pro;
    color: #000000;
}

.weatherTxt{
    color: #000000;
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 28px;
}

.highLow{
    color: #000000;
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 28px;
}

#weekBoxTitle {
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Alegreya', serif;
    font-size: 32px;
}


#weekBoxBody {
    background-color: #FFFFFF;
    border-radius: 5px;
}
